(c) 2016 - present. Enplus Advisors, Inc.

In [1]:
import io

import numpy as np
import pandas as pd

pd.set_option('precision', 2)

In [2]:
prc = pd.read_csv(
    io.StringIO('ticker,open,date,close\nAAPL,426.23,2018-01-04,435.23\nMSFT,42.3,2018-01-04,51.3\nAAPL,436.23,2018-01-05,\nMSFT,52.3,2018-01-05,\n'),
    parse_dates=['date']
)
prc2 = prc.assign(
    date=pd.to_datetime('2018-01-06'),
    open=prc.open + np.random.randn(len(prc.open)),
    close=prc.open + np.random.randn(len(prc.open))
)

In [3]:
volume = pd.DataFrame({
    'ticker': ['AAPL', 'MSFT', 'IBM', 'YHOO', 'GOOG'],
    'volume': [1954.73,  335.83,  362.79,  858.18,  629.79]
}).assign(date=pd.to_datetime('2015-01-05'))

In [4]:
prc

  ticker    open       date   close
0   AAPL  426.23 2018-01-04  435.23
1   MSFT   42.30 2018-01-04   51.30
2   AAPL  436.23 2018-01-05     NaN
3   MSFT   52.30 2018-01-05     NaN

In [5]:
volume

  ticker   volume       date
0   AAPL  1954.73 2015-01-05
1   MSFT   335.83 2015-01-05
2    IBM   362.79 2015-01-05
3   YHOO   858.18 2015-01-05
4   GOOG   629.79 2015-01-05

**Exercise**

Merge `prc` and `volume`:

* Preserving only the records with common `ticker`s and `date`s
* Preserving all the records in `prc`
* Preserving the records in both `prc` and `volume`

_All of these merges should be performed on `ticker` and `date`_

**Exercise:**

* Append `prc2` to `prc`, making sure the index is not repeated

In [6]:
prc.append(prc2, ignore_index=True)

  ticker    open       date   close
0   AAPL  426.23 2018-01-04  435.23
1   MSFT   42.30 2018-01-04   51.30
2   AAPL  436.23 2018-01-05     NaN
3   MSFT   52.30 2018-01-05     NaN
4   AAPL  427.95 2018-01-06  425.76
5   MSFT   42.83 2018-01-06   43.54
6   AAPL  436.48 2018-01-06  436.84
7   MSFT   52.09 2018-01-06   52.54