(c) 2016 - present. Enplus Advisors, Inc.

In [1]:
import numpy as np
import pandas as pd

pd.set_option('precision', 2)

**Data**

* `sp5_jan` is SP500 market close prices and trading volume for
  January 2015.
* `sales` is weekly sales data for Acme Widgets Co. for January
  2015 in thousands of widgets sold and \$ millions in revenue

In [2]:
np.random.seed(100)

sp5 = pd.read_csv(
    'sp500.csv', parse_dates=['date'], index_col=['date'],
    usecols=['date', 'close', 'volume'])\
    .sort_index()

sp5_jan = sp5.loc['2015-01', :].copy()
sp5_jan['volume'] = sp5_jan['volume'] / 1e6
sales = pd.DataFrame({
    'date': pd.date_range('2015-01-01', '2015-01-31', freq='W'),
})
sales['widgets_sold'] = abs(10 * np.random.randn(sales.shape[0])).round()
sales['revenue'] = sales.widgets_sold * 20

**Exercise:**

Merge `sp5_jan` with `sales`, filling sales data forward, saving
the result as `res_1`

In [3]:
res_1 = pd.merge_ordered(sales, sp5_jan.reset_index(), on='date', fill_method='ffill')
res_1.head()

        date  widgets_sold  revenue    close   volume
0 2015-01-02           NaN      NaN  2058.20  2708.70
1 2015-01-04          17.0    340.0  2058.20  2708.70
2 2015-01-05          17.0    340.0  2020.58  3799.12
3 2015-01-06          17.0    340.0  2002.61  4460.11
4 2015-01-07          17.0    340.0  2025.90  3805.48

**Exercise:**

Convert the output from the previous exercise to long format with
`date` as the ID variable, saving the result as `res_2`

In [4]:
res_2 = pd.melt(res_1, id_vars='date')
res_2.head()

        date      variable  value
0 2015-01-02  widgets_sold    NaN
1 2015-01-04  widgets_sold   17.0
2 2015-01-05  widgets_sold   17.0
3 2015-01-06  widgets_sold   17.0
4 2015-01-07  widgets_sold   17.0

**Exercise**

Convert `res_2` back to wide format using the `pivot` method.

In [5]:
res_3a = res_2.pivot(index='date', columns='variable')

**Exercise**

Convert `res_2` back to wide format using the `unstack` method.

In [6]:
res_3b = res_2.set_index(['date', 'variable']).unstack()