(c) 2016 - present. Enplus Advisors, Inc.

In [1]:
import numpy as np
import pandas as pd

**Exercise:**

* Create a `Series` and assign it to `s1a` from the integers 6, 8, 7, 5
* From a `dict`, create an integer `Series` and assign it to `s1b` with values 6, 8, 7, 5 named `s1b` and a string index 'a', 'b', 'c', and 'd'
* Convert the `s1b` values to 64-bit floating point values
* Extract only the values from the last `Series` you created

In [2]:
s1a = pd.Series([6, 8, 7, 5])

In [3]:
s1b = pd.Series({'a': 6, 'b': 8, 'c': 7, 'd': 5})

In [4]:
s1c = s1b.astype(np.float64)

In [5]:
s1c.values # s1c.to_numpy() for pandas >= 0.24.0

array([6., 8., 7., 5.])

**Exercise:**

* Select the first element of `s2` using integer indexing.
* Select the first element of the `s2` using label indexing.
* Select all elements greater than 6 in `s2` using boolean indexing.

In [6]:
s2 = pd.Series([6, 8, 7, 5], index=list('abcd'))

In [7]:
s2.iat[0]

6

In [8]:
s2.loc['a']

6

In [9]:
s2[s2 > 6]

b    8
c    7
dtype: int64

**Exercise**

* Select all non-NaN values in `s3`
* What will the result of adding `s2` and `s3` together be? 
  Figure it out on paper then check in the notebook with `s2 + s3`

In [10]:
s3 = pd.Series([9., 100., np.nan], index=list('ayz'))

In [11]:
s3[s3.notnull()]

a      9.0
y    100.0
dtype: float64

In [12]:
s2 + s3

a    15.0
b     NaN
c     NaN
d     NaN
y     NaN
z     NaN
dtype: float64

**Exercise**

* Write a function that compares two `Series` with dtype `float64` for
  approximate equality. Both `Series` must have the same NaN values
  to test equal. Make sure to write a few test cases with NaN values.
* How does your function compare to the builtin `equals` method on
  `Series`?

In [13]:
def all_equal(x, y, tol=1e-8):
    """Compare arguments for approximate equality
    
    Parameters
    ----------
    x : pd.Series[float64]
    y : pd.Series[float64]
    tol : float
        The absolute different between two scalars that will 
        be considered equivalent
        
    Returns
    -------
    bool
    """
    pass